<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Finance Guy Quote Quoter</title>
    <link rel="stylesheet" href="/css/style.css">
  </head>
  <body>
    <h1>Welcome to the Business Guy stock quote search app program interface app</h1>

    <!--  our template content here -->
    <%= yield %>

    <footer>
    <hr/>
    &copy; Business Guy Solutions Innovations 2018
    </footer>
  </body>
</html>
