
<h2>Add New Animal</h2>
<hr>
<form action="/animals" method="post">
First Name: <input type="text" name="first_name"><br>
Last Name: <input type="text" name="last_name"><br>
Roundness: <input type="text" name="roundness"><br>
Image URL: <input type="text" name="image_url"><br>
Description: <input type="text" name="description"><br>
Species: <input type="text" name="species"><br>
Alive?: <input type="text" name="alive" placeholder="Enter 1 or 0"><br>
Age: <input type="text" name="age"><br>

  <button>Save Animal</button>
</form>
