<h1>Stocks and Books</h1>
<h2>The groundbreaking web app no one asked for or wants</h2>


<p>
  <a href="/stocks">Look up a stock price for a book company</a>
</p>

<p>
  <a href="/books">Look up a book about stocks</a>
</p>
