
<h1>Your Calculation, Sir</h1>

<p>
  The result of
  <%= @x %>
  <%= @op %>
  <%= @y %>
  is
  <%= @result %>
</p>

<img src="http://i.dailymail.co.uk/i/pix/2012/11/03/article-2227239-01EC28B80000044D-960_306x423.jpg" alt="">
