<h1>Welcome to the Calculator</h1>

<p>Please submit your calcuation, human</p>

<form action="/calc">

  First number: <input type="text" name="x"><br>
  Operator: <input type="text" name="operator"><br>
  Second number: <input type="text" name="y"><br>
  <br>
  <button>Calculate!</button>

</form>
