
<h2>Add New Admirer</h2>
<hr>
<form action="/admirers" method="post">
Name: <input type="text" name="name"><br>
Location: <input type="text" name="location"><br>
admiration: <input type="text" name="admiration"><br>
Image URL: <input type="text" name="image_url"><br>
Animal ID: <input type="text" name="animal_id"><br>

  <button>Save Admirer</button>
</form>
