<h2>New Planet</h2>
<hr>
<form action="/planets" method="post">

  Name: <input type="text" name="name"><br>
  Image: <input type="text" name="image"><br>
  Orbit: <input type="text" name="orbit"><br>
  Diameter: <input type="text" name="diameter"><br>
  Mass: <input type="text" name="mass"><br>
  Moons: <input type="text" name="moons"><br>
  Roundness: <input type="text" name="roundness"><br>

  <button>Save</button>

</form>
